<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-variete-heading" data-cy="VarieteCreateUpdateHeading">Create or edit a Variete</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nomLatin">Nom Latin</label>
          <input type="text" class="form-control" name="nomLatin" id="field_nomLatin" data-cy="nomLatin" formControlName="nomLatin" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_conseilCulture">Conseil Culture</label>
          <input
            type="text"
            class="form-control"
            name="conseilCulture"
            id="field_conseilCulture"
            data-cy="conseilCulture"
            formControlName="conseilCulture"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_culture">Culture</label>
          <input type="text" class="form-control" name="culture" id="field_culture" data-cy="culture" formControlName="culture" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_exposition">Exposition</label>
          <input
            type="text"
            class="form-control"
            name="exposition"
            id="field_exposition"
            data-cy="exposition"
            formControlName="exposition"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_besoinEau">Besoin Eau</label>
          <input type="text" class="form-control" name="besoinEau" id="field_besoinEau" data-cy="besoinEau" formControlName="besoinEau" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_natureSol">Nature Sol</label>
          <input type="text" class="form-control" name="natureSol" id="field_natureSol" data-cy="natureSol" formControlName="natureSol" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_qualiteSol">Qualite Sol</label>
          <input
            type="text"
            class="form-control"
            name="qualiteSol"
            id="field_qualiteSol"
            data-cy="qualiteSol"
            formControlName="qualiteSol"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_genre">Genre</label>
          <select class="form-control" id="field_genre" data-cy="genre" name="genre" formControlName="genre">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="genreOption.id === editForm.get('genre')!.value?.id ? editForm.get('genre')!.value : genreOption"
              *ngFor="let genreOption of genresSharedCollection; trackBy: trackGenreById"
            >
              {{ genreOption.nom }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
