<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="espece">
      <h2 data-cy="especeDetailsHeading"><span>{{ espece.nom }}</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt>
        	<span>{{ espece.parent?.parent?.nom }}</span>
        	<span><fa-icon icon="arrow-right"></fa-icon></span>
        	<span>{{ espece.parent?.nom }}</span>
        	<span><fa-icon icon="arrow-right"></fa-icon></span>
        	<span>{{ espece.nom }}</span>
        </dt>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/espece', espece.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
