<div>
  <h2 id="page-heading" data-cy="VarieteHeading">
    <span>Varietes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-variete"
        [routerLink]="['/variete/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Variete </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="varietes?.length === 0">
    <span>No varietes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="varietes && varietes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Nom Latin</span></th>
          <th scope="col"><span>Conseil Culture</span></th>
          <th scope="col"><span>Culture</span></th>
          <th scope="col"><span>Exposition</span></th>
          <th scope="col"><span>Besoin Eau</span></th>
          <th scope="col"><span>Nature Sol</span></th>
          <th scope="col"><span>Qualite Sol</span></th>
          <th scope="col"><span>Genre</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let variete of varietes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/variete', variete.id, 'view']">{{ variete.id }}</a>
          </td>
          <td>{{ variete.nomLatin }}</td>
          <td>{{ variete.conseilCulture }}</td>
          <td>{{ variete.culture }}</td>
          <td>{{ variete.exposition }}</td>
          <td>{{ variete.besoinEau }}</td>
          <td>{{ variete.natureSol }}</td>
          <td>{{ variete.qualiteSol }}</td>
          <td>
            <div *ngIf="variete.genre">
              <a [routerLink]="['/genre', variete.genre?.id, 'view']">{{ variete.genre?.nom }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/variete', variete.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/variete', variete.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(variete)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
