<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="variete">
      <h2 data-cy="varieteDetailsHeading"><span>Variete</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ variete.id }}</span>
        </dd>
        <dt><span>Nom Latin</span></dt>
        <dd>
          <span>{{ variete.nom }}</span>
        </dd>
        <dt><span>Conseil Culture</span></dt>
        <dd>
          <span>{{ variete.conseilCulture }}</span>
        </dd>
        <dt><span>Culture</span></dt>
        <dd>
          <span>{{ variete.culture }}</span>
        </dd>
        <dt><span>Exposition</span></dt>
        <dd>
          <span>{{ variete.exposition }}</span>
        </dd>
        <dt><span>Besoin Eau</span></dt>
        <dd>
          <span>{{ variete.besoinEau }}</span>
        </dd>
        <dt><span>Nature Sol</span></dt>
        <dd>
          <span>{{ variete.natureSol }}</span>
        </dd>
        <dt><span>Qualite Sol</span></dt>
        <dd>
          <span>{{ variete.qualiteSol }}</span>
        </dd>
        <dt><span>Espece</span></dt>
        <dd>
          <div *ngIf="variete.espece">
            <a [routerLink]="['/espece', variete.espece?.id, 'view']">{{ variete.espece?.nom }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/variete', variete.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
